[submodule "tutorial"]
	path = tutorial
	url = git@github.com:akashdhruv/codescribe-tutorial.git
    branch = main
[submodule "csloop.rs.dev"]
	path = csloop.rs.dev
	url = git@github.com:Lab-Notebooks/CSLoop.git
	branch = main
